# make file for environment variables (make it rood directory rename as .env)
# and copy these variable and replace with real value and do not delete this .env.example file

mongo_URI = MONGODB_URL

JWT_SECRET = REAL_JWT_SECRET_VALUE